@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hello {
  color: sienna;
  font-family: 'iconfont';
  background: url('./icon.png');
}
