<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script type="text/javascript">
    <%=
      compilation.assets[
        htmlWebpackPlugin.files.js
          .find(fileName => fileName.includes('main'))
          .substr(htmlWebpackPlugin.files.publicPath.length)
      ].source()
    %>
  </script>
</head>
<body>
  <% for (let fileName of htmlWebpackPlugin.files.js) { %>
    <% if (!fileName.includes('main')) { %> 
      <script src="<%= fileName %> "></script> 
    <% } %> 
  <% } %>
</body>
</html>